.DataGridDiv {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  height: 94%;
  background-color: #f1f4ff;
  border-radius: 10px;
  padding-bottom: 100px;
}
.DataGrid {
  max-width: 1400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 70px;
  border-radius: 100px;
}
.SearchPanel {
  width: 100px;
}
