.SearcBar_Box {
  padding-top: 30px;
  padding-left: 72px;
  width: 700px;
  padding-bottom: 10px;
  height: 42px;

  @media (max-width: 2000px) {
    padding-left: 240px;
  }
  @media (max-width: 1980px) {
    padding-left: 235px;
  }
  @media (max-width: 1920px) {
    padding-left: 205px;
  }
  @media (max-width: 1900px) {
    padding-left: 200px;
  }
  @media (max-width: 1890px) {
    padding-left: 190px;
  }
  @media (max-width: 1806px) {
    padding-left: 150px;
  }
  @media (max-width: 1751px) {
    padding-left: 120px;
  }
  @media (max-width: 1700px) {
    padding-left: 105px;
  }
  @media (max-width: 1680px) {
    padding-left: 85px;
  }
  @media (max-width: 1600px) {
    padding-left: 55px;
  }
  @media (max-width: 1586px) {
    padding-left: 40px;
  }
  @media (max-width: 1567px) {
    padding-left: 35px;
  }
  @media (max-width: 1550px) {
    padding-left: 15px;
  }
  @media (max-width: 1500px) {
    padding-left: 5px;
  }
  @media (max-width: 1450px) {
    padding-left: 0px;
  }
  @media (max-width: 1400px) {
    padding-left: 0px;
  }
  @media (max-width: 450px) {
    width: 250px;
    padding-left: 0px;
  }
  @media (max-width: 380px) {
    width: 250px;
    padding-left: 0px;
  }
}
